/*设置导航条的最小高度*/
header .navbar{
    min-height: 70px;
    padding: 20px 0;
    background-color: #fff;
}

/*设置导航条中的active样式 覆盖系统默认样式*/
.navbar .nav .active a{
    border: 1px solid #e48907;
    background: none!important;
}

@media only screen and (max-width: 768px) {
    ul.navbar-nav{
        width: 100%;
    }
}